PORT=8080
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nest_db"
NEXT_PUBLIC_FRONTEND_URL="http://localhost:3000"
GEMINI_API_KEY=apikey
SALT_ROUNDS=10
JWT_SECRET=jwt_sec
JWT_SECRET_REFRESH=jwt_ref_sec
NODE_ENV=development | production
DEEPGRAM_API_KEY=your-api-key